
         <div class="card{%ID%} ">
           <img src="{%IMAGE%}" alt="Cricket" class="img">
                 
                <h5 class="home__name"><span class="emoji-right">🏏</span>{%SPORTNAME%}<span class="emoji-right">🏏</span></h5>


                <a href="/product?id={%ID%}"  class="btn">About it<span  class="emoji-right">👉</span></a>
         </div>
         
         <!-- <div class="card2 ">
          <img src="{%IMAGE%}" alt="Cricket" class="img">
                <h5 class="home__name"><span class="emoji-right">⚽</span>{%SPORTNAME%}<span class="emoji-right">⚽</span></h5>
                <a href="#"  class="btn">About it<span  class="emoji-right">👉</span></a>
         </div>
         <div class="card3">
             <img src="{%IMAGE%}" alt="Badminton" class="img">
                    
                <h5 class="home__name"><span class="emoji-right">🏸</span>{%SPORTNAME%}<span class="emoji-right">🏸</span></h5>
                <a href="#"  class="btn">About it<span  class="emoji-right">👉</span></a>
         </div>
         <div class="card4 ">
            <img src="{%IMAGE%}" alt="Table-tennis" class="img">
                  
                <h5 class="home__name"><span class="emoji-right">🏓</span>{%SPORTNAME%}<span class="emoji-right">🏓</span></h5>
                <a href="#"  class="btn">About it<span  class="emoji-right">👉</span></a>
         </div>
         <div class="card5">
           <img src="{%IMAGE%}" alt="Volleyball" class="img">
                 
                <h5 class="home__name"><span class="emoji-right">🏐</span>{%SPORTNAME%}<span class="emoji-right">🏐</span></h5>
                <a href="#"  class="btn">About it<span  class="emoji-right">👉</span></a>
         </div>
         <div class="card6">
          <img src="{%IMAGE%}" alt="Hockey" class="img">
               
                <h5 class="home__name"><span class="emoji-right">🏑</span>{%SPORTNAME%}<span class="emoji-right">🏑</span></h5>
                <a href="#"class="btn">About It<span  class="emoji-right">👉</span></a>
              </div> -->